.about {
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;

	@include media-tablet {
		padding-top: 60px;
		padding-bottom: 120px;
	}

	@include media-desktop {
		padding-top: 120px;
		padding-bottom: 240px;

		display: flex;
		gap: 145px;
	}
}

.about__title {
	margin-bottom: 12px;
	text-align: left;

	@include media-tablet {
		margin-bottom: 20px;
		text-align: center;
	}

	@include media-desktop {
		margin-bottom: 25px;
		text-align: left;

	}
}

.about__subtitle {
	margin-bottom: 36px;
	text-align: left;

	@include media-tablet {
		text-align: center;

	}

	@include media-desktop {
		text-align: left;
		margin-bottom: 95px;

	}
}

.about__text {
	text-align: left;
	margin-bottom: 36px;

	&--desktop {
		display: none;
		}

	@include media-tablet {
		text-align: center;

		margin-left: 90px;
		margin-right: 88px;
	}

	@include media-desktop {
		text-align: left;

		margin: 0;
		&--desktop {
			margin-top: 8px;
			display: block;
			}
	}
}

.about__wrapp {
	box-sizing: border-box;

	@include media-desktop {
		width: 355px;
		text-align: left;
		display: flex;
		flex-direction: column;
	}
}

.about__img {
	display: block;
	width: 320px;
	height: 280px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 36px;


	@include media-tablet {
		width: 678px;
		height: 345px;
		margin-left: 0;
		margin-bottom: 0;
	}

	@include media-desktop {
		width: 660px;
		height: 400px;
		order: 1;
	}
}

.about__video {
	box-sizing: border-box;
	display: block;
	width: 320px;
	height: 170px;
	margin-left: -15px;
	margin-right: -15px;

	// background-color: aqua;

	@include media-tablet {
		width: 270px;
		margin-left: 0;
		margin-right: 0;
		height: 170px;
		object-fit: cover;

		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		// right: 0;
		bottom: 35px;
	}

	@include media-desktop {
		width: 360px;
		height: 230px;
		left: 50%;
		
		bottom: 125px;
	}
}