.btn {
	display: none;

	@include media-tablet {
		display: block;
		display: flex;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		top: 50%;
		left: 0;
		
		transform: translate(0, -50%);
	}
}

.btn__button {
	display: block;
	@include btn-reset;

	width: 16px;
	height: 32px;

	background-color: aqua;

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	background-image: url(../../img/sprite/btn_l.svg);

	@include media-tablet {
	margin-left: 45px;
	}
	&--r {
		background-image: url(../../img/sprite/btn_r.svg);
		@include media-tablet {
			margin-right: 45px;
			}
	}
}

