.button {
  box-sizing: border-box;
  display: block;
  padding: 22px 10px;
  border: 2px solid $color-white;
  background-color: transparent;

  @include font ($size: 12px, $line-height: 12px, $color: $color-white, $weight: 700);

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  &:not(.button--disabled):hover {
    color: $color-price;
    background-color: $color-white;
  }

  &:not(.button--disabled):focus {
    color: $color-price;
    background-color: $color-white-80;
    outline: none;
  }

  &:not(.button--disabled):active {
    color: $color-text-base;
    background-color: $color-white;
  }

  &--disabled {
    cursor: default;
    opacity: 0.5;
  }

  &--card {
    padding: 25px 10px;
  }
}

.button--dark {
  color: $color-text-base;
  padding: 25px 10px;
  margin-top: -2px;

  border: 2px solid $color-text-base;
  width: 100%;

  @include media-tablet {
    margin-top: 0;
  }

  &:not(.button--disabled):hover,
  &:not(.button--disabled):active,
  &:not(.button--disabled):focus {
    color: $color-white;
  }
}


