.card {
  box-sizing: border-box;
  border: 7px solid transparent;
width: 290px;
  padding: 43px 35px;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;

  @include media-tablet {
    width: 380px;
    padding: 58px;
    gap: 22px;
  }

  @include media-desktop {
    width: 360px;
    gap: 17px;
  }
}

.card__prise {
  display: block;
  box-sizing: border-box;
  padding-top: 45px;

  text-align: center;
  width: 206px;
  height: 120px;
  position: relative;
  z-index: 5;

  @include media-tablet {
    width: 250px;
    height: 150px;
    padding-top: 61px;
  }
}

.card__prise::after {
  text-align: center;

  z-index: -1;
  display: block;
  width: 206px;
  height: 120px;

  position: absolute;
  top: 0;
  left: 0;

  content: attr(data-tip);

  @include font ($size: 80px, $line-height: 150%, $weight: 600, $color: $color-shadow);

  @include media-tablet {
    font-size: 100px;
    opacity: 50%;
    width: 250px;
    height: 150px;
  }
}

// ₽
.card__ruble-symbol {
  display: inline-block;
  width: 24px;
  height: 33px;
  background-image: url("../../__spritemap#sprite-rublik-view");
  background-repeat: no-repeat;
  background-size: 24px 33px;

  @include media-tablet {
    width: 30px;
    height: 42px;
    background-size: 30px 42px;
  }
}

.card__btn {
  &:not(.card__btn--disabled):hover {
    color: $color-white;
    background-image: linear-gradient(to left, #003eb7, #ed0233);
    border: 2px solid transparent;
  }

  &:not(.card__btn--disabled):focus-visible {
    color: $color-white;
    background-image: linear-gradient(to left, rgba(0, 62, 183, 0.8), rgba(237, 2, 51, 0.8));
    border: 2px solid $color-black;
  }


  &:not(.card__btn--disabled):active {
    color: rgba(255, 255, 255, 0.7);
    background-image: linear-gradient(to left, #003eb7, #ed0233);
    border: 2px solid transparent;
    opacity: 1;
  }

  &--disabled {
    opacity: 0.5;
  }
}
