.contacts {
  padding-top: 37px;
  padding-bottom: 40px;

  @include media-tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include media-desktop {
    border-top: 1px solid $color-divider;
  }
}

.contacts__title {
  margin-bottom: 37px;

  @include media-tablet {
    margin-bottom: 36px;
    text-align: center;
    font-size: 54px;
    line-height: 54px;
  }

  @include media-desktop {
    text-align: left;
  }
}

.contacts__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 27px;

  @include media-tablet {
    width: 440px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 0;
  }

  @include media-desktop {
    margin: 0;
    width: 100%;
  }
}

.contacts__item {
  box-sizing: border-box;

  @include media-tablet {
    width: 220px;
    padding-bottom: 16px;

    &--1,
    &--2 {
      border-right: 1px solid $color-divider;
    }

    &--3,
    &--4 {
      padding-left: 30px;

      @include media-desktop {
        padding-left: 60px;
      }
    }

    &--2,
    &--4 {
      padding-bottom: 0;
    }

    &--2 {
      order: 2;
      padding-right: 20px;
    }

    &--3 {
      order: 1;
    }

    &--4 {
      order: 3;
    }
  }

  @include media-desktop {
    width: 238px;
    padding-bottom: 14px;
  }
}

.contacts__name {
  margin-bottom: 13px;

  @include media-tablet {
    margin-bottom: 6px;
  }

  @include media-desktop {
    margin-bottom: 5px;
  }
}

.contacts__link {
 &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible,
  &:active {
    opacity: 0.6;
  }
}