.faq {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: $color-bg-primary;
	color: $color-black;

	@include media-tablet {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	@include media-desktop {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

.faq__title {
	margin-bottom: 35px;

	@include media-tablet {
		margin-bottom: 45px;
		text-align: center;
	}

	@include media-desktop {
		text-align: left;
		margin-bottom: 50px;
	}
}

.faq__wrapp {
	@include media-desktop {
		display: flex;
		gap: 40px;
	}
}

.faq__list-tab {
	@include list-reset;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;

	@include media-tablet {
		flex-wrap: nowrap;
	}

	@include media-desktop {
		flex-direction: column;
		gap: 10px;
	}
}

.faq__list-faq {
	@include list-reset;
	margin-top: 35px;
	border-bottom: 1px solid $color-divider;

	@include media-tablet {
		margin-top: 45px;
	}

	@include media-desktop {
		margin-top: 0;

	}
}

.faq__text {
	padding-bottom: 20px;

	@include media-tablet {
		margin-bottom: 23px;
	}
}

.faq__item-faq {
	padding-top: 21px;
	border-top: 1px solid $color-divider;

	@include media-tablet {
		padding-top: 23px;
	}
}

.faq__title-faq {
	margin-bottom: 20px;

	@include media-tablet {
		margin-bottom: 10px;
	}
}