.features {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	background-color: $color-bg-primary;

	@include media-tablet {
		padding-top: 61px;
		padding-bottom: 58px;
	}

	@include media-desktop {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

.features__title {
	margin-bottom: 40px;

	@include media-tablet {
		margin-bottom: 50px;
	}
}

.features__list {
	@include list-reset;

	display: grid;
	grid-template-columns: 1fr;
	gap: 35px;

	@include media-tablet {
		grid-template-columns: 1fr 1fr;
		gap: 41px 30px;
	}

	@include media-desktop {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 40px;
	}
}

.features__item {
	box-sizing: border-box;
	padding-left: 30px;
	padding-right: 30px;

	@include media-tablet {
		display: flex;
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
		text-align: left;
		gap: 14px;
	}

	@include media-desktop {
		justify-content: space-between;

		&--bottom {
			border-top: 1px solid $color-line;
			padding-top: 40px;
		}
	}
}

.features__item-container {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: -15px;
	margin-right: -15px;

	@include media-tablet {
		margin-top: 0;
		margin-bottom: 0;
		grid-column: span 2;
		margin-left: 0;
		margin-right: 0;
	}

	@include media-desktop {
		grid-column: span 1;
		grid-row: span 2;

		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 3;
	}
}

.features__item-wrapp {
	@include media-desktop {
		width: 210px;
	}
}

.features__item-dark {
	box-sizing: border-box;
	padding: 30px 75px 40px;
	color: $color-white;
	background-color: $color-bg-secondary;

	@include media-tablet {
		margin-left: 179px;
		margin-right: 179px;
		padding: 35px;
	}

	@include media-desktop {
		margin-left: 0;
		margin-right: 0;
		padding: 58px 40px;
	}
}

.features__name {
	color: $color-desc;
	display: block;

	&--invert {
		margin-top: 4px;
		margin-bottom: 0;
		color: $color-white;

		@include media-tablet {
			margin-top: 24px;
		}

		@include media-desktop {
			margin-top: 9px;
		}
	}
}

.features__subtitle {
	margin-bottom: 12px;

	@include media-tablet {
		margin-bottom: 10px;
	}

	@include media-desktop {
		margin-bottom: 6px;
	}
}

.features__digit {
	margin-bottom: 12px;
	color: transparent; // задает прозрачный цвет шрифта.
	background-clip: text; // окрашивает текст в цвет background-image.
	background-image: linear-gradient(145deg, #ED0233, #003EB7 45%);

	// из ТЗ
	// 	background: linear-gradient(128deg, #D10A42 0%, #0041CA 45.58%);
	// background-clip: text;
	// -webkit-background-clip: text;
	// -webkit-text-fill-color: transparent;

	&--dark {
		color: $color-white;
		background-image: none;
		margin-bottom: 20px;

	}

	@include media-tablet {
		margin-bottom: 0;

		&--dark {
			margin-bottom: 25px;
		}
	}

	@include media-desktop {
		&--dark {
			margin-bottom: 29px;
		}
	}
}