.features {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: $color-bg-primary;

  @include media-tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include media-desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.features__title {
  margin-bottom: 40px;

  @include media-tablet {
    margin-bottom: 50px;
  }
}

.features__list {
  @include list-reset;

  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;

  @include media-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 30px;
  }

  @include media-desktop {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
}

.features__item {
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;

  @include media-tablet {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }

  @include media-desktop {
    &--bottom {
      border-top: 1px solid $color-line;
      padding-top: 40px;
    }
  }
}

.features__content {
    h4 {
    @include font ($size: 64px, $line-height: 64px, $weight: 700, $color: transparent);

    margin-bottom: 12px;

    background-clip: text;
    background-image: linear-gradient(145deg, #d10a42 20%, #0041ca 55%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-tablet {
      font-size: 70px;
      line-height: 70px;
      margin-bottom: 0;
    }
  }

  span {
    display: block;
    margin-left: 0;
    @include font ($size: 14px, $line-height: 20px, $color: $color-desc);

    @include media-tablet {
      line-height: 22px;
    }
  }

  div {
    @include media-desktop {
      width: 210px;
    }
  }

  h3 {
    @include font ($size: 18px, $line-height: 20px);

    margin-bottom: 12px;

    @include media-tablet {
      font-size: 20px;
      margin-bottom: 10px;

    }

    @include media-desktop {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 8px;
    }
  }

  p {
    @include font ($size: 14px, $line-height: 22px, $weight: 300);

    @include media-tablet {
      font-size: 16px;
      line-height: 24px;
    }
  }


  @include media-tablet {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }

  @include media-desktop {
    justify-content: space-between;
  }
}

.features__content-dark {
  h4 {
    @include font ($size: 64px, $line-height: 64px, $weight: 700, $color: $color-white);
    margin-bottom: 20px;

    @include media-tablet {
      font-size: 70px;
      line-height: 70px;
      margin-bottom: 25px;
    }

    @include media-desktop {
      margin-bottom: 30px;
    }
  }

  span {
    display: block;
    @include font ($size: 22px, $line-height: 22px, $color: $color-white, $weight: 700);
    align-items: center;
    margin-top: 5px;

    @include media-tablet {
      font-size: 24px;
      line-height: 24px;
      margin-top: 25px;
    }

    @include media-desktop {
      font-size: 26px;
      line-height: 26px;
      margin-top: 10px;
    }
  }

  p {
    @include font ($size: 14px, $line-height: 22px, $color: $color-white, $weight: 300);

    @include media-tablet {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.features__item-container {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -15px;
  margin-right: -15px;

  @include media-tablet {
    margin-top: 0;
    margin-bottom: 0;
    grid-column: span 2;
    margin-left: 0;
    margin-right: 0;
  }

  @include media-desktop {
    grid-column: span 1;
    grid-row: span 2;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.features__item-wrapp {
  @include media-desktop {
    width: 210px;
  }
}

.features__item-dark {
  box-sizing: border-box;
  padding: 30px 75px 40px;
  color: $color-white;
  background-color: $color-bg-secondary;

  @include media-tablet {
    margin-left: 179px;
    margin-right: 179px;
    padding: 35px;
    padding-bottom: 36px;
  }

  @include media-desktop {
    margin-left: 0;
    margin-right: 0;
    padding: 58px 40px;
  }
}

.features__name {
  color: $color-desc;
  display: block;

  &--invert {
    margin-top: 4px;
    margin-bottom: 0;
    color: $color-white;

    @include media-tablet {
      margin-top: 24px;
    }

    @include media-desktop {
      margin-top: 9px;
    }
  }
}

.features__subtitle {
  margin-bottom: 12px;

  @include media-tablet {
    margin-bottom: 12px;
  }

  @include media-desktop {
    margin-bottom: 6px;
  }
}
