.games {
	padding-top: 40px;
	padding-bottom: 40px;

	@include media-tablet {
		display: flex;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	@include media-desktop {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

.games__color {
	box-sizing: border-box;

	padding: 40px;
	background-color: $color-bg-accent;

	@include media-tablet {
		width: 300px;
	}

	@include media-desktop {
		width: 500px;
		padding: 60px 80px 98px;
	}
}

.games__img {
	display: block;
	background-color: $color-price;
	width: 290px;
	height: 290px;

	@include media-tablet {
		width: 378px;
		height: 348px;
	}

	@include media-desktop {
		width: 660px;
		height: 500px;
	}
}

.games__wrapp {
	display: flex;
}

.games__text {
	padding-top: 16px;
	padding-bottom: 16px;

	@include media-desktop {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}