.juri {
	padding-top: 41px;
	padding-bottom: 40px;

	text-align: center;

	overflow:hidden;

	@include media-tablet {
		padding-top: 30px;
		padding-bottom: 60px;
		position: relative;
	}

	@include media-desktop {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

.juri__title {
	margin-bottom: 20px;

	@include media-tablet {
		margin-bottom: 46px;
	}
}

.juri__list {
	@include list-reset;
	
	margin-left: 15px;
  margin-right: 15px;

	display: flex;
	gap: 30px;

	@include media-tablet {
		gap: 40px;
		margin-left: 59px;
		margin-right: 59px;
	}

	@include media-desktop {
		// gap: 10px;
		margin-left: 0;
		margin-right: 0;
	
	}
}





// .juri__btn-wrapp {
	
// }