.price {
	padding-top: 39px; // А ДОЛЖЕН БЫТЬ 40!!!
	padding-bottom: 40px;
	text-align: center;
	background-color: $color-bg-primary;

	@include media-tablet {
		padding-top: 60px;
		padding-bottom: 60px;

		padding-left: 194px;
		padding-right: 194px;

		background-image: url('../../img/blin_bg_tab.png');

		background-repeat: no-repeat;
		background-size: auto;
		background-position: bottom 0 right 0;
		background-size: 326px ;
	}

	@include media-desktop {
		padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 103px;
		padding-right: 103px;
		background-position: bottom -10px right -75px;
		background-size: 384px ;
	}
}

.price__title {
	margin-bottom: 30px;

	@include media-tablet {
		margin-bottom: 36px;

	}
	@include media-desktop {
		margin-bottom: 20px;
	}
}

.price__month {
	box-sizing: border-box;
	@include list-reset;
	// margin-left: 35px;
	// margin-right: 35px;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid $color-line-month;
	margin-bottom: 30px;

	@include media-tablet {
		margin-left: 35px;
		margin-right: 35px;
		margin-bottom: 45px;
	}

	@include media-desktop {
	width: 350px;
	margin: 0 auto;
		margin-bottom: 42px;
	}
}

.price__month-btn {
	@include btn-reset;
	padding-bottom: 5px;
	opacity: 0.5;

	&--active {
		color: $color-text-base;
		border-bottom: 2px solid $color-line;
		opacity: 1;

		// .nav-link-current::after {
		// 	content: "";
		// 	position: absolute;
		// 	height: 2px;
		// 	right: 16px;
		// 	left: 16px;
		// 	bottom: -1px;
		// 	background-color: #756257;
		// }
	}
}

.price__cards-list {
	@include list-reset;
	display: flex;
	flex-direction: column;
	gap: 35px;

	@include media-tablet {
	gap: 40px;
	}
	@include media-desktop {
		flex-direction: row;
		gap: 40px;
	}
}
