.price {
  padding-top: 41px;
  padding-bottom: 40px;
  text-align: center;
  background-color: $color-bg-primary;

  @include media-tablet {
    padding-top: 59px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    background-size: 324px;

    background-image: image-set(
      url("../img/blin/blin_bg_tab@1x.webp") 1x type("image/webp"),
      url("..img/blin/blin_bg_tab@1x.jpg") 1x,
      url("../img/blin/blin_bg_tab@2x.webp") 2x type("image/webp"),
      url("../img/blin/blin_bg_tab@2x.jpg") 2x
    );
  }

  @include media-desktop {
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: bottom -10px right -75px;
    background-size: 384px;
  }
}

.price__title {
  margin-bottom: 30px;

  @include media-tablet {
    margin-bottom: 36px;
  }

  @include media-desktop {
    margin-bottom: 15px;
  }
}

.price__month {
  box-sizing: border-box;
  width: 290px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px 40px;

  margin: 0 auto;
  margin-bottom: 30px;
  padding-bottom: 3px;
  border-bottom: 2px solid $color-line-grey-20;

  @include media-tablet {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    width: 310px;
  }

  @include media-desktop {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.price__cards-list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;

  @include media-tablet {
    gap: 40px;
  }

  @include media-desktop {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 40px;
  }
}

.price:has(.card__btn--2:hover) .price__card--2,
.price:has(.card__btn--1:hover) .price__card--1,
.price:has(.card__btn--3:hover) .price__card--3,
.price:has(.card__btn--1:focus) .price__card--1,
.price:has(.card__btn--2:focus) .price__card--2,
.price:has(.card__btn--3:focus) .price__card--3 {
  border: 7px solid $color-bg-accent;

  border-image: linear-gradient(155deg, #ed0233, #003eb7 95%);
  border-image-slice: 7;
}
