.price {
  padding-top: 41px;
  padding-bottom: 40px;
  text-align: center;
  background-color: $color-bg-primary;

  @include media-tablet {
    padding-top: 59px;
    padding-bottom: 60px;

    padding-left: 194px;
    padding-right: 194px;

    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
    background-size: 324px;

    background-image:
      image-set(url("../../img/blin/blin_bg_tab@1x.webp") 1x type("image/webp"),
      url("../..img/blin/blin_bg_tab@1x.jpg") 1x,
      url("../../img/blin/blin_bg_tab@2x.webp") 2x type("image/webp"),
      url("../../img/blin/blin_bg_tab@2x.jpg") 2x);
  }

  @include media-desktop {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 103px;
    padding-right: 103px;
    background-position: bottom -10px right -75px;
    background-size: 384px;
  }
}

.price__title {
  margin-bottom: 30px;

  @include media-tablet {
    margin-bottom: 36px;
  }

  @include media-desktop {
    margin-bottom: 15px;
  }
}

.price__month {
  box-sizing: border-box;
  width: 290px;

  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  margin-bottom: 30px;
  padding-bottom: 3px;
  border-bottom: 2px solid $color-line-grey-20;


  @include media-tablet {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    width: 310px;
  }

  @include media-desktop {
    width: 350px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.price__cards-list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 35px;

  @include media-tablet {
    gap: 40px;
  }

  @include media-desktop {
    flex-direction: row;
    gap: 40px;
  }
}
