.request {
	box-sizing: border-box;
	padding-top: 71px;
	padding-bottom: 70px;
	background-color: $color-text-base;

	@include media-tablet {
		padding-top: 59px;
		padding-bottom: 60px;
	}
}

.request__title {
	margin-bottom: 34px;

	@include media-tablet {
		text-align: center;
		font-size: 54px;
		line-height: 54px;
		margin-bottom: 33px;

	}
}

.request__form {
	display: flex;
	flex-direction: column;
	gap: 36px;

	@include media-tablet {
		width: 440px;
		margin: 0 auto;
		gap: 36px;

	}
}

.request__field {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 27px;
	border: none;
	border-bottom: 1px solid $color-divider;
	background-color: transparent;
	padding-bottom: 1px;

	@include media-tablet {
		height: 28px;
	}
}

.request__label {

	@include media-tablet {
		flex-grow: 1;
	}
}

.request__wrapp {
	width: 100%;
		display: flex;
		gap: 36px;
	flex-direction: column;

	@include media-tablet {
		flex-direction: row;
		align-items: stretch;
		gap: 31px;

	}
}

	.request__btn {
		@include media-tablet {
padding: 25px 10px;	
	}
	}