.tab-price__button {
  padding-bottom: 7px;
  color: $color-text-base-50;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    // width: 100%;
    height: 2px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $color-line-grey-20;

  }
}

.tab1-show,
.tab2-show,
.tab3-show {
  display: none;
}

.tab:has(.tab1:checked) .tab1-show,
.tab:has(.tab2:checked) .tab2-show,
.tab:has(.tab3:checked) .tab3-show {
  display: block;
}

.tab-price__radio {
  &:checked+.tab-price__button {
    color: $color-text-base;

    &::after {
      background-color: $color-line-current;
    }
  }

  &:not(:disabled):hover+.tab-price__button {
    color: $color-text-base-70;

    &::after {
      background-color: $color-line-grey;
    }
  }

  &:not(:disabled):focus+.tab-price__button {
    color: $color-text-base;
    // outline: auto; // НУЖЕН???

    &::after {
      background-color: currentColor;
    }
  }

  &:not(:disabled):active+.tab-price__button {
    color: $color-text-base;

    &::after {
      background-color: $color-bg-accent;
    }
  }

  &:disabled+.tab-price__button {
    opacity: 0.3;
    cursor: default;
    color: $color-text-base;

    &::after {
      background-color: currentColor;
    }
  }
}