.tab-faq__button {
  box-sizing: border-box;
  display: block;
  width: 140px;
  // height: 46px;
    min-height: 46px;

  text-align: center;
  padding: 14px 10px;

  border: 1px solid $color-line-tab;
  background-color: $color-white;

  @include media-tablet {
    width: 162px;
    min-height: 54px;
  }

  @include media-desktop {
    width: 260px;
    padding-top: 19px;
  }
}

.tab-faq__radio {
  &:checked + .tab-faq__button {
    border: 1px solid transparent;
    background-color: #0041ca;

    background-image: $linear-gradient-btn;
    color: $color-white;
  }

  &:not(:disabled):hover + .tab-faq__button,
  &:not(:disabled):focus-visible + .tab-faq__button {
    border: 2px solid $color-text-base;
  }

  &:not(:disabled):focus + .tab-faq__button {
    outline: none;
  }

  &:disabled + .tab-faq__button {
    color: $color-text-base;
    border: 1px solid $color-text-base;
    opacity: 0.2;
    cursor: default;
  }
}

.tab-faq__show1,
.tab-faq__show2,
.tab-faq__show3,
.tab-faq__show4 {
  display: none;
}

.tab-faq:has(.tab-faq__radio--1:checked) .tab-faq__show1,
.tab-faq:has(.tab-faq__radio--2:checked) .tab-faq__show2,
.tab-faq:has(.tab-faq__radio--3:checked) .tab-faq__show3,
.tab-faq:has(.tab-faq__radio--4:checked) .tab-faq__show4 {
  display: block;
}
