//  РАДИО!! ИСПРАВЬ!!!

.tab-faq {
	box-sizing: border-box;
	display: block;
	width: 140px;
	height: 46px;
	padding: 13px 10px 14px;
	border: 1px solid $color-line-tab;
	background-color: $color-white;

	&--count {
		padding: 12px 10px 15px;
		border: none;

		background: $linear-gradient-btn;
		color: $color-white;
	}

	@include media-tablet {
		width: 162px;
		height: 54px;
	}

	@include media-desktop {
		width: 260px;
		// padding: 18px 10px;
		padding-top: 19px;
		padding-bottom: 18px;

		&--count {
			padding-top: 21px;

		}
	}


}