.tab {
	box-sizing: border-box;
	display: block;
	width: 140px;
	height: 46px;
	padding: 14px 10px;
	border: 1px solid $color-line-tab;
	background-color: $color-white;

	@include media-tablet {
		width: 162px;
		height: 54px;
	}

	@include media-desktop {
		width: 260px;
	}

	&--count {
		padding: 15px 10px;
		border: none;
		background-color: $color-bg-accent;
		color: $color-white;
	}
}