.video {
  box-sizing: border-box;
  width: 320px;
  height: 170px;

  @include media-tablet {
    width: 270px;
  }

  @include media-desktop {
    width: 360px;
    height: 230px;
  }
}

.video-wrapp {
  box-sizing: border-box;
  display: block;
  width: 320px;
  height: 170px;
  
  background-image: url('../../img/video.jpg');
  background-position: center;
  background-size: cover;

  @include media-tablet {
    width: 270px;
  }

  @include media-desktop {
    width: 360px;
    height: 230px;
  }
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: transparent;
  width: 72px;
  height: 72px;

  border: 2px solid rgba(237, 2, 51, 0.2);
  border-radius: 50%;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;

    background-image: linear-gradient(to right, #ED0233, #003EB7);
  }

  &::after {
    content: '';
    z-index: 5;
    display: block;
    width: 12px;
    height: 12px;
    background-color: $color-white;

    mask-image: url('../../__spritemap#sprite-play-view');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: auto;
  }

  @include media-desktop {
    width: 72px;
    height: 72px;
  }

  &:not(:disabled):hover {
    border: 2px solid $color-text-base-60;

    &::before {
      background-image: none;
      background-color: $color-white;
    }

    &::after {
      background-color: $color-text-base-60;
    }
  }

  &:not(:disabled):focus {
    border: 2px solid $color-text-base;

    &::before {
      background-image: none;
      background-color: $color-disabled;
    }

    &::after {
      background-color: $color-text-base;
    }
  }

  &:not(:disabled):active {
    border: 2px solid $color-text-base;

    &::before {
      background-image: none;
      background-color: $color-white;
    }

    &::after {
      background-color: $color-text-base;
    }
  }

  &:disabled {
    opacity: 0.4;
    border: 2px solid $color-text-base;

    &::before {
      background-image: none;
      background-color: $color-white;
    }

    &::after {
      background-color: $color-text-base;
    }
  }
}
