.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;


  &--juri {
    padding-left: 30px;
    padding-right: 30px;
  }

  &--reviews {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include media-tablet {
    padding-left: 45px;
    padding-right: 45px;

    &--juri {
      padding-left: 104px;
      padding-right: 104px;
    }

    &--reviews {
      padding-left: 134px;
      padding-right: 134px;
    }
  }

  @include media-desktop {
    padding-left: 103px;
    padding-right: 103px;
    max-width: $desktop-width;

    &--reviews {
      padding-left: 403px;
      padding-right: 403px;
    }
  }
}
