.text-base {
	@include font ($size: 14px, $line-height: 20px);
}


.text-basic-L {
	@include font ($size: 16px, $line-height: 20px, $weight: 300);

	@include media-tablet {
		font-size: 18px;
		line-height: 24px;
	}
}

.text-basic-M {
	@include font ($size: 14px, $line-height: 22px, $weight: 300);

	@include media-tablet {
		font-size: 16px;
		line-height: 24px;
	}
}

.text-basic-S {
	@include font ($size: 12px, $line-height: 100%);

	@include media-tablet {
		line-height: 22px;
	}
}

// .text-basic-mini {
// 	@include font ($size: 12px, $line-height: 100%);

// 	@include media-tablet {
// 		line-height: 22px;
// 	}
// }

.title-main {
	/* h1 */

	@include font ($family: $font-secondary, $size: 62px, $line-height: 62px, $weight: 700);
	letter-spacing: 0.01em;
	text-transform: uppercase;

	@include media-tablet {
		font-size: 72px;
		line-height: 85px;
		letter-spacing: -0.02em;
	}

	@include media-desktop {
		font-size: 92px;
		line-height: 110px;
		letter-spacing: -0.04em;
	}
}

.title-super {
	/* h2 для супергейм*/

	@include font ($family: $font-secondary, $size: 48px, $line-height: 54px, $weight: 600);
	text-transform: uppercase;

	@include media-desktop {
		font-size: 82px;
		line-height: 96px;
	}
}

.title-section {
	/* h3 */

	@include font ($family: $font-secondary, $size: 32px, $line-height: 32px, $weight: 600);
	letter-spacing: -0.005em;


	@include media-tablet {
		font-size: 42px;
		line-height: 42px;
	}

	@include media-desktop {
		font-size: 54px;
		line-height: 54px;
	}
}

.subtitle {
	@include font ($size: 18px, $line-height: 20px, $weight: 500);

	@include media-tablet {
		font-size: 20px;
	}

	@include media-desktop {
		font-size: 22px;
		line-height: 22px;
	}
}

.title-faq,
.title-contacts {
	/*h5, текст для заголовков в аккордеоне в вопросах и ответах */

	@include font ($size: 20px, $line-height: 100%);

	@include media-tablet {
		font-size: 22px;
	}

	@include media-desktop {
		font-size: 24px;
	}
}

.text-juri  {
	@include font ( $size: 22px, $line-height: 22px);
	color: $color-white;

}

.text-nav,
.title-price,
.text-offer {
	/* телефон в меню */

	@include font ( $size: 22px, $line-height: 22px, $weight: 600);
	text-decoration: none;

	@include media-tablet {
		font-size: 24px;
		line-height: 24px;
	}

	@include media-desktop {
		font-size: 26px;
		line-height: 26px;
	}
}

.text-btn-L {
	/*текст для ссылки */

	@include font ($size: 14px, $line-height: 14px, $weight: 700);
	text-transform: uppercase;
	}

.text-btn-M {
	/*текст для кнопки */

	@include font ($size: 12px, $line-height: 12px, $weight: 700);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}

.text-btn-N {
	/*текст для табов в вопросах и ответах */

	@include font ($size: 16px, $line-height: 100%);

	@include media-tablet {
		font-size: 18px;
	}

	@include media-desktop {
		font-size: 20px;
	}
}


.text-btn-month {
	/*текст для месяцев */

	@include font ($size: 18px, $line-height: 18px);
}

.text-number-L {
	@include font ($size: 64px, $line-height: 64px, $weight: 700, $color: $color-price);

	@include media-desktop {
		font-size: 70px;
		line-height: 70px;
	}
}

.text-number-M {
	@include font ($size: 48px, $line-height: 150%, $weight: 600, $color: $color-price);
}

.text-number-R {
	@include font ($size: 24px, $line-height: 24px, $weight: 700);
	
	@include media-desktop {
		font-size: 40px;
		line-height: 40px;
	}
}

// .ruble-symbol {
// 	color: $color-text-base;
// }

.text-name {
	@include font ($size: 14px, $line-height: 20px);
}

.text-form {
	@include font ($size: 14px, $line-height: 22px, $weight: 300 );
color: $color-white;
}

//==========================
.text-invert {
	color: $color-white;
}
