// FONTS
;
$font-secondary:"AlumniSans", impact, sans-serif;
$font-base: "RobotoCondensed", arial, sans-serif; 


// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-shadow: #ebebeb;


//  для текста
$color-text-base: #102654;

$color-price: #103AAE;

$color-desc: #2E35AC;


//  для фонов
$color-bg-primary: #F8F9FC;

$color-bg-accent: #ED0233;
$color-bg-secondary: #1C3374;
$color-bg-footer: #030A1A;

$color-bg-grad1: #1C3477;
$color-bg-grad2: #1A3578;
$color-bg-grad3: #73184B;
$color-bg-grad4: #B4022A;




//  для линий
$color-line: #D10A42; // 20%
$color-divider: #74819C; //разделитель
$color-line-month: rgba(120, 120, 120, 0.2);
$color-line-tab: rgba(16, 38, 84, 0.2);


//  для форм
$color-error: #ff8282;

// WIDTH

$desktop-width: 1366px;

$tablet-width: 768px;

$mobile-width: 320px;
