// Vendor ---------------------------------

@import "./vendor/normalize";

// Base ---------------------------------

@import "./base/variables";
@import "./base/mixins";
@import "./base/fonts";
@import "./base/fonts-styles";
@import "./base/page";
@import "./base/visually-hidden";
@import "./base/container";
@import "./base/js";

// Blocks ---------------------------------

@import "./blocks/button";
@import "./blocks/hero";
@import "./blocks/about";
@import "./blocks/price";
@import "./blocks/games";
@import "./blocks/juri";
@import "./blocks/juri-card";
@import "./blocks/features";
@import "./blocks/offers";
@import "./blocks/faq";
@import "./blocks/tab-faq";
@import "./blocks/reviews";
@import "./blocks/request";
@import "./blocks/contacts";
@import "./blocks/footer";
@import "./blocks/slider";
@import "./blocks/card";
@import "./blocks/video";
@import "./blocks/tab-price";

