.juri {
  position: relative;
  padding-top: 41px;
  padding-bottom: 40px;
  text-align: center;
  overflow: hidden;

  @include media-tablet {
    padding-top: 30px;
    padding-bottom: 60px;
    position: relative;
  }

  @include media-desktop {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.juri__title {
  margin-bottom: 20px;

  @include media-tablet {
    margin-bottom: 47px;
  }
}

.juri__list {
  position: relative;
  z-index: 10;
// overflow: hidden;
  @include list-reset;

  width: 260px;
  display: flex;

  @include media-tablet {
    width: 560px;
  }

  @include media-desktop {
    margin-left: 0;
    margin-right: 0;
  }
}
