.slider__container--juri {
  width: 260px;

  @include media-tablet {
    width: 560px;
  }

  @include media-desktop {
    width: 1160px;
  }
}

.slider__container--reviews {
  width: 240px;

  @include media-tablet {
    width: 500px;
  }

  @include media-desktop {
    width: 560px;
  }
}

.slider__button {
  display: none;

  @include media-tablet {
    @include btn-reset;

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-top: 11px;
    margin-right: 23px;

    &--l {
      transform: rotate(180deg);
      margin-left: 23px;
    }

    &--reviews {
      margin-top: 19px;
      margin-left: 18px;
      margin-right: 18px;
    }
  }

  &::before {
    display: block;
    content: "";
    width: 35px;
    height: 35px;
    background-color: $color-text-base;

    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-image: url("../../icons/arrow.svg");
  }

  &::after {
    content: "";
  }

  @include media-desktop {
    margin-top: 22px;

    &--reviews {
      margin-top: 39px;
      margin-right: 272px;
      margin-left: 272px;
    }
  }

  &:not(:disabled):hover {
    border: 1px solid $color-text-base;
  }

  &:not(:disabled):focus {
    border: 1px solid $color-text-base;
    background-color: $color-bg-slider-btn;
  }

  &:not(:disabled):active {
    background-color: $color-text-base;

    &::before {
      background-color: $color-white;
    }
  }

  &:disabled {
    cursor: default;

    &::before {
      background-color: $color-text-base-30;
    }
  }
}
